$ cat .gitattributes
docs/* linguist-documentation
scripts/* linguist-documentation
testing/* linguist-documentation
source/common/scripts/* linguist-documentation
source/common/testing/* linguist-documentation
vs/* linguist-documentation
*.nb linguist-vendored
